.inner {
  background-color: #0a0a0a;

  & > .slide,
	.slide2 {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #0a0a0a;
  }

	.slide2 {
		background-color: #ddd;
	}

  .page {
    background-color: #0a0a0a;
  }
}
