@use 'base';
@use '../components/Transitions/inner/style.scss' as style1;
@use '../components/Transitions/stairs/style.scss' as style2;
@use '../components/Transitions/curve/style.scss' as style3;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* header and navigation */

.header {
  position: relative;
  z-index: 999;
  width: 100%;
  height: 80px;
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 32px;
  display: flex;

  nav {
    display: flex;
    gap: 36px;

    a {
      position: relative;
      display: block;
      text-decoration: none;
      color: #fff;
      overflow: hidden;
      transform: translateY(-80px);
    }
  }
}

.menu-toggle {
  position: fixed;
  z-index: 999;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  display: none; // keep it hidden
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateX(100px);

  .icon {
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      position: relative;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #2a2a2a;
    }
  }
}

.menu {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  right: 0;
  width: 600px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 72px;
  transform: translateX(650px);

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    height: 100%;

    .item {
      transform: translateX(150px);
      height: 65px;

      a {
        position: relative;
        display: block;
        height: 100%;
        font-size: 52px;
        text-decoration: none;
        color: #2a2a2a;
        overflow: hidden;

        div {
          height: 100%;
          display: flex;
          align-items: center;
          padding-bottom: 12px;
        }
      }
    }
  }
}

/* content */

.content {
  background-color: #2a2a2a;
  color: #fff;

  .section {
    height: 100vh;
    padding: 32px;
    background-color: transparent;

    &.section1 {
      height: calc(100vh - 80px);
    }
  }

  h1 {
    margin-bottom: 32px;
  }
}

/* home */

.content.home {
  .section {
    &:not(.section1) {
      display: flex;
      align-items: center;
      justify-content: center;

      .box {
        justify-content: center;
      }
    }

    &.section2 {
      justify-content: space-between;
      gap: 48px;
      background: #1a1a1a;

      & > div {
        width: 50%;
        max-width: 780px;

        &.left {
          display: flex;
          flex-direction: column;
          gap: 48px;
        }

        &.right {
          font-size: 48px !important;
          font-weight: 500;
          line-height: 55px;

          .line-break {
            width: 100%;
            height: 48px;
          }

          .word {
            position: relative;
            bottom: 6px;
          }
        }
      }

      .box {
        max-width: 800px;
        justify-content: flex-start !important;
        line-height: 56px;

        .line {
          padding-bottom: 5px;

          .text {
            font-size: 48px !important;
            font-weight: 500;
            transform: translateY(120%) rotate(0deg);
          }
        }
      }
    }

    &.section3 {
      flex-direction: column;
      overflow: hidden;
    }

    &.section4 {
      // background-color: #ffffff;
      // color: #2a2a2a;
      justify-content: flex-start;
      align-items: flex-start;

      .box {
        justify-content: flex-start;
        width: 700px;

        .line {
          .text {
            font-size: 96px;
            transform: translateY(200%) rotate(0deg);
          }
        }
      }
    }

    &.section5 {
      .box {
        width: 90%;
        max-width: 800px;
      }
    }

    .box {
      display: flex;
      flex-wrap: wrap;
      text-wrap: nowrap;
      overflow: hidden;

      .line {
        display: block;
        overflow: hidden;

        .text {
          display: block;
          margin-top: -6px;
        }
      }
    }

    .title {
      margin-bottom: 50px;

      .line {
        .text {
          font-size: 64px;
          transform: translateY(120%) rotate(0deg);
        }
      }
    }

    .subtitle {
      .line {
        .text {
          font-size: 42px;
          transform: translateY(200%) rotate(0deg);
        }
      }
    }

    .paragraph {
      .line {
        .text {
          font-size: 32px;
          transform: translateY(800%) rotate(0deg);
        }
      }
    }
  }
}

/* about */

.content.about {
  .section2 {
    .body {
      margin-left: 10vw;
      padding-top: 32px;

      h1 {
        margin: 0px;
        margin-top: 10px;
        font-size: 5vw;
        line-height: 5vw;
        text-transform: uppercase;
      }

      p {
        color: white;
        margin: 0px;
        margin-top: 10px;
        font-size: 3vw;
        text-transform: uppercase;
        span {
          position: relative;
        }
      }
    }

    .images {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 5vh;

      .image-container {
        position: absolute;
        width: 200px;
        height: 200px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:nth-of-type(1) {
          height: 60vh;
          width: 50vh;
          z-index: 1;
        }

        &:nth-of-type(2) {
          left: 55vw;
          top: 15vh;
          height: 40vh;
          width: 30vh;
          z-index: 2;
        }

        &:nth-of-type(3) {
          left: 25vw;
          top: 40vh;
          height: 25vh;
          width: 20vh;
          z-index: 3;
        }
      }
    }
  }
}

/* projects */

.content.projects {
  position: relative;
  top: -80px;

  .section {
    height: 100vh;
    position: relative;
    top: 0;
    background-color: #2a2a2a;

    &.section2,
    &.section4,
    &.section6 {
      z-index: 99;
    }

    &.section1 {
      padding-top: calc(30px + 80px);

      h1,
      .body {
        position: relative;
        z-index: 999;
      }
    }

    &.section3 {
      .image {
        height: 150vh;
      }
    }

    &.section5 {
      clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);

      .image {
        position: fixed;
        top: -400px;
        height: calc(100vh + 400px);
      }
    }
  }

  .image {
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* contact */

.content.contact {
  .body {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 680px;

    .paragraph {
      &.p1 {
        font-size: 36px;
        letter-spacing: -0.03em;
        word-spacing: -0.1em;
        line-height: 130%;
        // visibility: hidden;
      }

      &.p2 {
        font-size: 24px;
        letter-spacing: -0.01em;
        word-spacing: -0.1em;
        line-height: 130%;
        // visibility: hidden;
      }

      &.p3 {
        font-size: 48px;
        font-weight: bold;
      }

      .line {
        // border: 2px dashed red;
      }
    }
  }

  .section1 {
    display: flex;
    justify-content: center;

    h1 {
      font-size: 170px;
      text-transform: uppercase;
      letter-spacing: -0.01em;
      font-weight: 700;
    }
  }

  .section2 {
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
  }

  .section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 160px;
    letter-spacing: -0.03em;
    line-height: 90%;

    .word {
      // background: red;
    }
  }
}

/* slide */

.slide {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;

  .phrase {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 32px;

    p {
      font-size: 64px;
    }
  }
}
